#product-name {
    height: 100vh;
    padding: calc(90px + 3rem) 0 6rem;
    background-color: $s5;
}

#product-name h2 {
    font-size: 3rem;
    text-align: center;
}


/* ========================================== */
/* Large Screens */
/* ========================================== */
@media (min-width: 768px) {
    #product-name {
        padding: calc(90px + 6rem) 0 6rem;
    }
}