/* ============================ */
/* Color Pallet */
/* ============================ */
/* Main */
$c1: #46494C;
$c2: #DB2B39;
$c3: #4FBA6F;
$c4: #F1E912;
$c5: #EAEBED;

/* Lighter */
$l1: #62666A;
$l2: #E1515D;
$l3: #6CC687;
$l4: #F4EE3E;
$l5: #FFFFFF;

/* Shades */
$s1: #3B3D40;
$s2: #C0212E;
$s3: #3FA25C;
$s4: #D4CD0C;
$s5: #D3D5D9;


/* ##################### */
/* Fonts */
/* ##################### */
$font1: Pacifico, serif;
$font2: Oswald, sans-serif;
$font2b: OswaldBold, sans-serif;


/* ##################### */
/* Common Elements */
/* ##################### */
body {
    max-width: 100vw;
    background-color: $c1;
    font-family: $font2;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font1;
}

a {
    text-decoration: none;
    color: $c5;
}

button {
    border: none;
    cursor: pointer;
}

button:focus {
    outline: none;
}


/* ============================ */
/* Common Classes */
/* ============================ */
.container {
    width: 100%;
    max-width: 1600px;
    padding: 0 1rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2rem;
    font-size: 3rem;
    line-height: 2rem;
    background-color: transparent;
    color: $c5;
    cursor: pointer;
}

.modal-body {
    padding: 2rem;
    border-radius: 10px;
    background: $c5;
}