/* =============================================== */
/* Properties & Mixins */
/* =============================================== */
$c1: #4FBA6F;
$c2: #F1E912;
$c3: #DF2935;
$c4: #50514F;
$c5: #F1F2EB;

/* Fonts */
$font1: Pacifico, cursive;
$font2: Oswald, sans-serif;
$font2Bold: OswaldBold, sans-serif;


/* =============================================== */
/* Common Classes */
/* =============================================== */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}


/* =============================================== */
/* Shared Styles */
/* =============================================== */
nav, header, main, aside, footer {
    box-sizing: border-box;
}


/* =============================================== */
/* App Style */
/* =============================================== */
body {
    background-color: $c4;
}