/* =============================================== */
/* Properties */
/* =============================================== */



/* =============================================== */
/* Common Classes */
/* =============================================== */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}