/* =============================================== */
/* Properties & Mixins */
/* =============================================== */
$c1: #4FBA6F;
$c2: #F1E912;
$c3: #DF2935;
$c4: #50514F;
$c5: #F1F2EB;

/* Fonts */
$font1: Pacifico, cursive;
$font2: Oswald, sans-serif;
$font2Bold: OswaldBold, sans-serif;


/* =============================================== */
/* Common Classes */
/* =============================================== */
.container {
    width: 100%;
    max-width: 1440px;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

.description {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    text-align: center;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}


/* =============================================== */
/* Shared Styles */
/* =============================================== */
header, nav, main, section, aside, footer {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font1;
} 

h1, h2 {
    margin-bottom: 3rem;
}


/* =============================================== */
/* App Style */
/* =============================================== */
body {
    background-color: $c5;
    font-family: $font2;
}

section {
    padding: 4rem 0;
}

h2 {
    font-size: 2rem;
}